:root{
    --escala: 350px;
    --giroRuleta: 0deg;
}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img{
    position: absolute;
    width: var(--escala);
    height: var(--escala);
    opacity: 50%;
    z-index: 2;
    transform: rotate(90deg);
    pointer-events: none;
}

h1{
    text-align: center;
    margin: 0;
}

.separador{
    position: absolute;
    top: 0;
    left: calc(var(--escala) / 2 - 3px);
    height: calc(var(--escala) / 2);
    width: 6px;
    background-color: black;
    transform-origin: bottom;
}

#ruleta{
    position: relative;
    width:  var(--escala);
    height: var(--escala);
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
}

.opcion{
    position: absolute;
    width:  var(--escala);
    height: var(--escala);
}

button{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 3;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    border: 3px dashed;
    cursor: pointer;
}

.giro{
    animation-name: girar;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);
}

@keyframes girar {
    100%{
        transform: rotate(var(--giroRuleta));
        -webkit-transform: rotate(var(--giroRuleta));
        -moz-transform: rotate(var(--giroRuleta));
        -ms-transform: rotate(var(--giroRuleta));
        -o-transform: rotate(var(--giroRuleta));
}
}

