:root{
    --escala: 350px;
    --giroRuleta: 0deg;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#cartelGanador{
    position: absolute;
    left: -150px;
    top: -40px;
    background-color: rgba(4, 107, 92, 0.507);
    width: 300px;
    font-weight: bold;
}

#marcador{
    position: absolute;
    z-index: 10;
    top: -20px;
    background-color: black;
    height: 65px;
    width: 5px;
    pointer-events: none;
}

img{
    position: absolute;
    width: var(--escala);
    height: var(--escala);
    opacity: 50%;
    z-index: 2;
    transform: rotate(90deg);
    pointer-events: none;
}

h1{
    margin: 0;
}

.separador{
    position: absolute;
    top: 0;
    left: calc(var(--escala) / 2 - 3px);
    height: calc(var(--escala) / 2);
    width: 6px;
    background-color: black;
    transform-origin: bottom;
}

#ruleta{
    position: relative;
    width:  var(--escala);
    height: var(--escala);
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
}

.opcion{
    position: absolute;
    width:  var(--escala);
    height: var(--escala);
    cursor: pointer;
}

#girar{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 3;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    border: 3px dashed;
    cursor: pointer;
    user-select: none;
}

dialog button{
    user-select: none;
    margin-top: 15px;
}

#tituloForm{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    text-decoration: underline;
    gap: 40px;
}

#formContainer div{
    display: flex;
}

#formContainer div label{
    margin-right: auto;
}

.giro{
    animation-name: girar;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.1, 0, 0.18, 0.99);
}

@keyframes girar {
    100%{
        transform: rotate(var(--giroRuleta));
        -webkit-transform: rotate(var(--giroRuleta));
        -moz-transform: rotate(var(--giroRuleta));
        -ms-transform: rotate(var(--giroRuleta));
        -o-transform: rotate(var(--giroRuleta));
}
}

