*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: ´Poppins´, sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
}
.container{
    height: 100px;
    width: 100%;
    
}
header{
    width: 100%;
    height: 90px;
    background: #e2082c;
}

.container .logo-details img{
    position: absolute;
    top: 15px;
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-top: -10px;
    border-radius: 50%;
    animation: rotate-gear 2s infinite linear;
}

@keyframes rotate-gear{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
.container .logo-details .logo_name{
    background: #e2082c;
    width: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 8px;
    margin: 0;
}

.container .nav-links{
    float: right;
    width: 60%;
    height: 100%;
    background-color: #e2082c;
}
.container .nav-links li{
    display: inline-block;
    font-size: 25px;
    margin-left: 60px;
    align-items: center;
    line-height: 90px;
}
.container .nav-links li a{
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 200ms;
}

.container .nav-links li a:hover{
   color: #000;
   font-size: 30px;
}

/*banner*/
.banner{
    width: 90%;
    height: 100px;
    overflow: hidden;
    margin: 20px auto;
    animation: backBanner 10s linear;
}

.banner h1{
    font-size: 75px;
    line-height: 90px;
    text-align: center;
    text-shadow: 0px 5px 10px black;
}

.banner h1:hover{
    text-shadow: 0px 5px 15px red ;
    cursor: pointer;
}
.clock{
    position: absolute;
    display: flex;
    top: 25px;
    left: 200px;
    font-size: 30px;
    color: #fff;
    padding: 5px;
}
.clock .text{
    margin-right: 10px;
}

.clock #ampm{
    margin-left: 5px;
}

/*login*/