:root{
    --escala: 20px;
    --top-primera-fila: calc(var(--escala) * 1.83);
    --top-segunda-fila: calc(var(--escala) * 5.5);
    --left-horizontales: calc(var(--escala) * 1.5);
    --left-primera-columna: calc(var(--escala) * 3.6);
}

#container{
    display: flex;
    background-color: gray;
}

.numero{
    position: relative;
    height: calc(var(--escala) * 9);
    width: calc(var(--escala) * 7);
}

.on{
    fill: red;
    box-shadow: inset 0px 0px 15px 2px rgba(255, 0, 0, 0.65);
}

.segmento{
    position: absolute;
    height: var(--escala);
}

.segmento:nth-child(1){
    left: var(--left-horizontales);
}

.segmento:nth-child(2){
    transform: rotate(90deg);
    right: 0px;
    top: var(--top-primera-fila);
}

.segmento:nth-child(3){
    transform: rotate(90deg);
    right: 0px;
    top: var(--top-segunda-fila);
}

.segmento:nth-child(4){
    left: var(--left-horizontales);
    top: calc(var(--escala) * 7.3);
}

.segmento:nth-child(5){
    transform: rotate(90deg);
    right: var(--left-primera-columna);
    top: var(--top-segunda-fila);
}

.segmento:nth-child(6){
    transform: rotate(90deg);
    right: var(--left-primera-columna);
    top: var(--top-primera-fila);
}

.segmento:nth-child(7){
    left: var(--left-horizontales);
    top: calc(var(--escala) * 3.65);;
}

