.box{
    float: left;
    background: #123456;
    width: 350px;
    height: 350px;
    margin-left: 20px;
    padding: 15px;
}

.dashed{
    border: 1px solid black;
}

h3{
    color: #fff;
}

p{
    color: #fff;
}