body{
    background: #084d6e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*ejercicio completo*/
#website *{
    margin: 0px;
    padding: 0px;
}

#website{
    display: grid; /*primer paso, definir el display grid*/
    grid-template-columns: repeat(5, 1fr); /*segundo y tercer paso, definir las columnas y las filas*/
    grid-template-rows: 1fr 1fr 3fr 1fr; 
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
}

#cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/6; /*manera de expandir las filas*/
    background-color: blue;
    color: #fff;
    text-transform: uppercase;
}

#menu{
    grid-column: 1/6;
    background: rgb(0, 191, 255);
    color: black;
}

#menu ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    list-style: none;
}

#contenido{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 25px;
    background: gray;
}

#contenido article{
    background: #ccc;
    border: 1px solid black;
}

#lateral{
    grid-column: 5/6;
    background: orange;
    color: #fff;
}

#footer{
    grid-column: 1/6;
    background-color: black;
    color: #fff;
}



/*ejemplos*/
.layout{
    width: 80%;
    margin: 0 auto;
    height: 500px;
    display: grid; /*se pone el display grid para que tenga las caractristicas de grid y se pone al contenedor*/
   grid-gap: 10px; /*me genera un espaciado entre las cajas*/
   /*grid-template-columns: repeat(4, calc(25% - 10px)); /*me organiza las cajas al tamaño que yo quiere y con la funcion "repeat" puedo decir cuantas columnas y cuanto tamaño quiero*/
   grid-template-columns: repeat(3, 1fr); /*ponemos franciones para dividir el numero de columnas que quiera*/
   grid-template-rows: 1fr 2fr 3fr 4fr 5fr;
   padding: 10px;
    border: 1px solid orangered;
}

.layout .box{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    border: 4px solid black;
}

.red{
    grid-column-start: 1;
    grid-column-end: 4;
    background: red;
}

.green{
    grid-row: 2/6;/*esta propiedad nos permite expandir nuestros elementos tomando como primer vlor su linea de inicio y como segundo valor su linea final*/
    background: green;
}

.blue{
    grid-column: 2/4;
    background: blue;
}

.pink{
    grid-column: 2/3;
    grid-row: 3/5;
    background: palevioletred;
}

.brown{
    grid-row: 3/5;
    background: brown;
}

.gray{
    grid-column: 2/4;/*le decimos al contemedor que espacio quiero que ocupe tomando desde que linea hasta cual linea quiero que vaya, esta propiedad es iglual que el grid column start y end pero se pone el inicio y el final separados por un slash*/
    background: gray;
}