<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Regalos Amigos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Regalos Amigos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let evento of eventos" [routerLink]="['/evento']" routerLinkActive="router-link-active">
    <ion-card-header>
      <ion-card-title>{{evento.titulo}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Cantidad de participantes: {{evento.personas.length}}</p>
      <p>Fecha del Evento {{evento.fecha}}</p>
    </ion-card-content>
  
  </ion-card>
</ion-content>
