<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Regalos Amigos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Regalos Amigos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let evento of eventos" [routerLink]="['/evento', evento.id]" routerLinkActive="router-link-active" [ngClass]="{'evento-terminado' : evento?.finalizado}">
    <ion-card-header>
      <ion-card-title>{{evento.titulo}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Cantidad de participantes: {{evento.participantes.length}}</p>
      <p>Fecha del Evento {{evento.fecha}}</p>
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/nuevo-evento']" routerLinkActive="router-link-active">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>
