body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2c291;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedorImagen, img{
    width: 500px;
    height: 500px;
}

button{
    font-size: 30px;
    padding: 10px;
    background-color: unset;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid rgb(94, 124, 94);
    margin: 10px 20px;
    transition: 100ms ease-in-out;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    -ms-transition: 100ms ease-in-out;
    -o-transition: 100ms ease-in-out;
}

button:hover{
    transform: scale(1.3);
    background-color: #616148;
}

#like:hover, #likeperro{
    background-color: #4e614883;
}

#dislike:hover, #deslikeperro{
    background-color: #fc000052;
}

.escondido{
    display: none !important;
}

#spinner{
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 180px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

.contenedorperros{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 30px 0;
    border-radius: 10px;
    max-width: 70vw;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contenedorperros img{
    width: 140px;
    height: 140px;
}