.carrusel{
    width: 100%;
    max-width: 120em;
    background: lightblue;
    overflow: hidden;
    
}

.carrusel .grande{
    width: 400%;
    background: orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel img{
    width: calc(100% / 4);
    height: 400px;
    min-height: 10vh;
    margin: 10px;
    background-color: lawngreen;
    
}

.carrusel .puntos{
    width: 100%;
    background-color: brown;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrusel .punto{
    width: 2em;
    height: 2em;
    margin: 5px;
    background-color: blue;
}

.carrusel .punto.active{
    background: green;
}