$fuente-tipica: sans-serif, Helvetica, Arial; //variable de fuente
$color-fondo: black; //color fondo
$color-letra: red;

body{
    background-color: $color-fondo;
}

h1{
    color: $color-letra;
    font-family: $fuente-tipica;
}

.caja{
    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: aquamarine;
    padding: 10px;

    h1{
        color: blue;
    }

    p{
        color: green;
    }

    .info{
        font-size: 10px;

        .autor{
            font-size: 15px;
            color: orange;
        }
    }
}


//mixin
@mixin crearBordes($color, $size, $shadow){
    border: $size solid $color;
    border-radius: $size;
    box-shadow: 0px 0px $size $shadow;
}

.caja{
    @include crearBordes(red, 10px, black);
}

.listado{
    @include crearBordes(green, 20px, yellow);
}

//herencia
%alert-normal{
    border: 1px solid gray;
    background: blue;
    color: #fff;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}

.alert{
    @extend %alert-normal;
}

.alert-danger{
    @extend %alert-normal;
    color: black;
    border-color: red;
}

.alert-succes{
    @extend %alert-normal;
    color: green;
    border-color: yellow;
}

//Operadores
h1{
    font-size: 20px + 5px;
}

//condicionales-if
h1{
    @if $color-fondo == #ccc{
        color: black;
    }@else{
        color: lightcoral;
    }
}
//for

$contador: 1;

@for $contador from 1 through 8{
    .listado ul li:nth-child(#{$contador}){
        color: orange;
        font-size: $contador * 10px;
    }
}
