:root{
    --top-vertical: 0px;
    --left-horizontal: 240px;
    --dimensiones-grupo: 170px;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: beige;
}

h1{
    text-align: center;
    font-size: xx-large;
    
}

h2{
    text-align: center;
    font-size: xx-large;
    margin-top: 0;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.jugador{
    width: 40vw;
    min-height: 70vh;
    background-color: #ccc;
    border-radius: 5px;
    margin: 10px;
}

.botones{
    display: flex;
    margin: 20px 0 0;
    justify-content: space-around;
}



button{
    min-width: 60px;
    font-size: xx-large;
    background-color: #474747;
    border-radius: 5px;
    color: antiquewhite;
}

img{
    height: var(--dimensiones-grupo);
}

.grupo{
    position: relative;
    width: var(--dimensiones-grupo);
    height: var(--dimensiones-grupo);
    margin: 20px;
}

.separador{
    position: relative;
    left: 30%;
    border-top: 2px solid black;
    width: var(--dimensiones-grupo);
    margin: 10px;
}

.fosforo1{
    position: absolute;
    transform: rotate(90deg);
    top: -80px;
    left: var(--left-horizontal);
}

.fosforo2{
    position: absolute;
    transform: rotate(180deg);
    left: 325px;
    top: var(--top-vertical);
}

.fosforo3{
    position: absolute;
    transform: rotate(270deg);
    top: 77px;
    left: var(--left-horizontal);
}

.fosforo4{
    position: absolute;
    transform: rotate(0deg);
    left: 150px;
    top: var(--top-vertical);
}

.fosforo5{
    height: 190px;
    position: absolute;
    transform: rotate(45deg);
    left: 235px;
    top: -10px
}

