*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: beige;
}

h1{
    text-align: center;
    font-size: xx-large;
    
}

h2{
    text-align: center;
    font-size: xx-large;
    margin-top: 0;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.jugador{
    width: 40vw;
    min-height: 70vh;
    background-color: #ccc;
    border-radius: 5px;
    margin: 10px;
}

.botones{
    display: flex;
    margin: 20px 0 0;
    justify-content: space-around;
}



button{
    min-width: 60px;
    font-size: xx-large;
    background-color: #474747;
    border-radius: 5px;
    color: antiquewhite;
}
